{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">


{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="admin">Home<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="admin-models">Manage models</a></li>
            <li><a href="admin-collections">Manage collections</a></li>
            <li><a href="admin-orders">Manage orders</a></li>
            <li><a href="admin-users">Manage users</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-md-offset-2 main">
          <div class="page-header">
            <a href="/admin">Home</a> / Models
          </div>
          <div class="row">
            <div class="col-md-12">
              <p class="text-right"> <a href="admin-models/new" class="btn btn-primary">Add new model</a></p>
              <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Date added</th>
                    <th>Popularity</th>
                  </tr>
                </thead>
                <tbody>
                  {% for model in models %}
                    <tr>
                        <td>{{model.id}}</td>
                        <td><a href="/admin-models/{{model.id}}">{{model.name}}</td>
                        <td>{{model.price}}</td>
                        <td>{{model.date_added}}</td>
                        <td>{{model.popularity}}<td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>


          </div>
        </div>
      </div>
    </div>
  </body>
</html>
