{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">

{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        {% if error %}
            <div class="alert alert-danger" role="alert">

            {{ error }}

            </div>
        {% endif %}

        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="admin-models">Manage models</a></li>
            <li><a href="admin-collections">Manage collections</a></li>
            <li><a href="admin-orders">Manage orders</a></li>
            <li><a href="admin-users">Manage users</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-md-offset-2 main">
          <div class="page-header">
            Home
          </div>
          <div class="row">
            <div class="col-md-4 col-sm-4">
              <h4> Last orders</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Price</th>
                      <th>Status</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for token in tokens %}
                    <tr>
                      <td>{{token.price_paid}}</td>
                      <td>
                        {% if token_status[loop.index-1] == False %}
                          Not printed
                        {% else %}
                          Expired
                        {% endif %}
                      </td>
                      <td>{{token.date_added}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <h4> Last models added</h4>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>Model</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for model in models %}
                        <tr>
                          <td>{{model.name}}</td>
                          <td>{{model.date_added}}</td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <h4> Last user sign ups</h4>
              <div class="table-responsive">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Email</th>
                      <th>Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for user in users %}
                    <tr>
                      <td>{{user.email}}</td>
                      <td>{{user.date_added}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
