{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">


{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="admin">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="admin-models">Manage models</a></li>
            <li><a href="admin-collections">Manage collections</a></li>
            <li class="active"><a href="admin-orders">Manage orders</a></li>
            <li><a href="admin-users">Manage users</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-md-offset-2 main">
          <div class="page-header">
            <a href="/admin">Home</a> / Orders
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive">
                <table class="table table-striped">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Model</th>
                    <th>Price</th>
                    <th>Date added</th>
                    <th>Status</th>
                  </tr>
                </thead>
                <tbody>
                  {% for token in tokens %}
                  <tr>
                    <td>{{token.id}}</td>
                    <td><a href="/admin-models/{{token.id}}">{{token.model_id}}</a></td>
                    <td>{{token.price_paid}}</td>
                    <td>{{token.date_added}}</td>
                    <td>dolor</td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
