{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">
<link href="/static/carousel.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="https://js.stripe.com/v2/"></script>


{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/shop">Home<span class="sr-only">(current)</span></a></li>
            {% for collection in collections %}
                {% if collection_name == collection.name %}
                <li class="active"><a href="/collection/{{collection.id}}">{{collection.name}}</a></li>
                {% else %}
                <li><a href="/collection/{{collection.id}}">{{collection.name}}</a></li>
                {% endif %}
            {% endfor %}

          </ul>
        </div>
        {% if authentise_link %}

        <div class="col-md-9 col-md-offset-2 main">
          <div class="row">
            <div class="col-md-6 col-sm-3">
              <img src="{{image_path}}" class="img-responsive" alt="{{token.model.name}}"><br>
              <h4>{{token.model.name}}</h4>
            </div>
            <div class="col-md-4 col-sm-3">
            <iframe src="{{authentise_link}}" width="400" height="400"></iframe>
          </div>
        </div>
        {% else %}
            <div class="alert alert-danger" role="alert">

            Purchase not completed. <a href="/shop">Back</a>

            {{ error }}

            </div>
        {% endif %}

      </div>
    </div>
  </body>
</html>
