<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Add here your website title -->
    <title>Title</title>

    <!-- BEGIN BOOTSTRAP -->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

    <!-- Custom styles for this template -->
    <link href="/static/cover.css" rel="stylesheet">


    <!-- END BOOTSTRAP -->

</head>


<body>

  <div class="site-wrapper">

    <div class="site-wrapper-inner">

      <div class="cover-container">

        <div class="masthead clearfix">
          <div class="inner">
            <nav>
              <ul class="nav masthead-nav">
                <!-- Add here your contact email -->
                <li><a href="mailto:contact@domain.com">Contact</a></li>
              </ul>
            </nav>
          </div>
        </div>

        <div class="inner cover">
          <!-- Add here your website title -->
          <h1 class="cover-heading">Title</h1>
          <!-- Add here your website tagline -->
          <p class="lead">Tagline</p>
          <p class="lead">
            <a href="/shop" class="btn btn-lg btn-default">Shop</a>
          </p>
        </div>

        <div class="mastfoot">
          <div class="inner">
            <!-- Add here your website title -->
            <p>Store for <a href="#">Title</a>, by <a href="https://authentise.com/tech">Authentise Tech</a>.</p>
          </div>
        </div>

      </div>

    </div>

  </div>

  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</body>
</html>
