{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">
<link href="/static/carousel.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/shop">Home<span class="sr-only">(current)</span></a></li>
            {% for collection in collections %}
                {% if collection_name == collection.name %}
                <li class="active"><a href="/collection/{{collection.id}}">{{collection.name}}</a></li>
                {% else %}
                <li><a href="/collection/{{collection.id}}">{{collection.name}}</a></li>
                {% endif %}
            {% endfor %}

          </ul>
        </div>

        <div class="col-md-9 col-md-offset-2 main">
          <div class="row">
            {% if model %}
                  <div class="col-md-6 col-sm-3">
                    <img src="{{images[0].path}}" class="img-responsive" alt="{{model.name}}">
                  </div>
                  <div class="col-md-4 col-sm-3">
                    <h4>{{model.name}}</h4>
                    <span class="text-muted">${{model.price}}</span>
                    <div><p><p>
                    {{model.description}}
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-3">
                    <p>
                      {% if email %}

                            <form action="/checkout/{{model.id}}" method="POST">
                              <script
                                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="{{key}}"
                                data-name="Authentise"
                                data-description="{{model.id}} {{model.description}}"
                                data-amount="{{model.price * 100}}">
                                <button type="submit" class="btn btn-primary">Buy this model</button>
                              </script>
                            </form>
                      {% else %}
                            <a href="/login" class="btn btn-primary">Login to buy this model</a>
                      {% endif%}
                    </p>
                    <small>
                    <p><b>Read before you buy</b></p>
                    <p>  What printers are compatible?</p>
                    <p>  List of compatible printers</p>
                    <p>  What am I buying?</p>
                    <p>  The right to print a model once...</p>
                    <p>  Do I get a file?</p>
                    <p>  No, you get a stream that can...</p>
                    </small>
                  </div>
                </div>
                <p>
                <div class="row">
                  <div class="col-md-3 col-sm-3">
                    <img src="{{images[1].path}}" class="img-responsive" alt="{{model.name}}">
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <img src="{{images[2].path}}" class="img-responsive" alt="{{model.name}}">
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <img src="{{images[3].path}}" class="img-responsive" alt="{{model.name}}">
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <img src="{{images[4].path}}" class="img-responsive" alt="{{model.name}}">
                  </div>
                </div>
            {% else %}
                <div class="alert alert-danger" role="alert">Action could't be performed: {{ error }}<p>
                <a href="/shop">Back</a>
                </div>
            {% endif %}
        </div>

      </div>
    </div>
  </body>
</html>
