{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">
<link href="/static/carousel.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

\
{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
            <li><a href="#">Collection</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-md-offset-2 main">
          <div class="row">
            <div class="col-md-6 col-sm-3">
              <img src="http://cdn.instructables.com/F2M/OJ91/HIGILLKH/F2MOJ91HIGILLKH.LARGE.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-md-4 col-sm-3">
              <h4>Model Name</h4>
              <span class="text-muted">$XX.XX</span>
              <p>
                Description of the model.
              </p>
            </div>
            <div class="col-md-2 col-sm-3">
              <p>
                <button type="button" class="btn btn-primary">Buy this model</button>
              </p>
              <small>
              <p><b>Read before you buy</b></p>
              <p>  What printers are compatible?</p>
              <p>  List of compatible printers</p>
              <p>  What am I buying?</p>
              <p>  The right to print a model once...</p>
              <p>  Do I get a file?</p>
              <p>  No, you get a stream that can...</p>
              </small>
            </div>
          </div>
          <p>
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <img src="http://cdn.instructables.com/F2M/OJ91/HIGILLKH/F2MOJ91HIGILLKH.LARGE.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-md-3 col-sm-3">
              <img src="http://cdn.instructables.com/F2M/OJ91/HIGILLKH/F2MOJ91HIGILLKH.LARGE.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-md-3 col-sm-3">
              <img src="http://cdn.instructables.com/F2M/OJ91/HIGILLKH/F2MOJ91HIGILLKH.LARGE.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>
            <div class="col-md-3 col-sm-3">
              <img src="http://cdn.instructables.com/F2M/OJ91/HIGILLKH/F2MOJ91HIGILLKH.LARGE.jpg" class="img-responsive" alt="Generic placeholder thumbnail">
            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
