{% include 'header.html' %}
<link href="/static/dashboard.css" rel="stylesheet">


{% include 'navbar.html' %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="admin">Home<span class="sr-only">(current)</span></a></li>
            <li class="active"><a href="../admin-models">Manage models</a></li>
            <li><a href="../admin-collections">Manage collections</a></li>
            <li><a href="../admin-orders">Manage orders</a></li>
            <li><a href="../admin-users">Manage users</a></li>
          </ul>
        </div>
        <div class="col-md-9 col-md-offset-2 main">
          <div class="page-header">
            <a href="/admin">Home</a> / <a href="/admin-models">Models</a> / Model name
          </div>
          <div class="row">
            <div class="col-md-12">
              {% if model %}
                  <form action="/admin-models/{{model.id}}" method="POST">

                    <div class="form-group">

                        <label for="name_id">Name</label>
                        <input  class="form-control form-inline" id="name_id" name="model_name_field" type="text" value="{{model.name}}" />

                    </div>

                    <div class="form-group">

                        <label for="description_id">Description</label>
                        <input class="form-control" id="description_id" name="model_description_field" type="text" size="4" value="{{model.description}}" />
                    </div>

                    <div class="form-group">

                        <label for="dimensions_id">Dimensions</label>
                        <input class="form-control" id="dimensions_id" name="model_dimensions_field" type="text" value="{{model.dimensions}}" />
                    </div>
                    <div class="form-group">
                      <label for="collection_id">Collection</label>
                      <select class="form-control" id="collection_id" name="model_collection_field" type="text">
                        {% for collection in collections %}
                          {% if collection.id == model.collection_id %}
                            <option selected value={{collection.id}}>{{ collection.name }}</option>
                          {% else %}
                            <option value={{collection.id}}>{{ collection.name }}</option>
                          {% endif %}
                        {% endfor %}
                      </select>
                    </div>

                    <div class="form-group">
                        <label for="price_id">Price</label>
                        <input class="form-control" id="price_id" name="model_price_field" type="text" size="4" value="{{model.price}}" maxlength="6" size="6" />
                    </div>
                    <div class="form-group">

                        <label for="popularity_id">Popularity</label>
                        <input class="form-control" id="popularity_id" name="popularity_field" type="text" value="{{model.popularity}}" disabled="" />

                    </div>
                    <div class="form-group">
                      <label>Images</label><p>
                        <div class="row">
                          {% if images %}
                            {% for image in images %}
                                <div class="col-md-3 col-sm-3">
                                    <img src= {{image.path}}" class="img-responsive"/>
                                </div>
                                {% endfor%}
                              {% endif %}
                        </div>

                    <!-- We need a submit button to submit a form! -->
                    <input type="submit" value="Save" class="btn btn-success"/> <a href="/admin-models/deactivate/{{model.id}}" class="btn btn-danger">Deactivate</a> <a href="/admin-models" class="btn btn-default">Back</a>

                  </form>
              {% else %}
                <div class="alert alert-danger" role="alert">

                Model does not exist. <a href="/admin-users">Back</a>

                {{ error }}

                </div>

              {% endif %}
            </div>

            {% if error %}
                <div class="alert alert-danger" role="alert">

                An error occurred trying to edit model:

                {{ error }}

                </div>
            {% endif %}


            </div>

          </div>
        </div>
      </div>
    </div>
  </body>
</html>
